<!-- Main component for a primary marketing message or call to action -->
      <div class="row">
        <div class="col-sm-12 text-center extrab">
        <h1>Vi jämför matpriser på nätet!</h1>
        <!--form class="form-inline">
          <div class="form-group has-feedback">
            <input type="text" class="form-control varusok" id="exampleInputName2" placeholder="Skriv varan du söker pris på här...">
            <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
          </div>
        </form-->
        </div>
      </div>
      <div class="row topkassar">
      <div class="col-sm-2 kasstyp">
            <h4>Standard</h4>
            <p>(PROs matkasse)</p>
        </div>
        <div class="col-xs-2 col-xs-offset-1 col-sm-offset-0">
            <div class="totalpris2 billigast">{{toFixed objects.totals.total_coop_shipping}} kr</div>
            <img class="img-responsive" src="dist/image/logo_coop.png" alt="Coop"/>
        </div>
        <div class="col-xs-2">
            <div class="totalpris2">{{toFixed objects.totals.total_mathem_shipping}} kr</div>
            <img class="img-responsive" src="dist/image/logo_mathem.png" alt="Mathem"/>
        </div>
        <div class="col-xs-2">
            <div class="totalpris2">{{toFixed objects.totals.total_matse_shipping}} kr</div>
            <img class="img-responsive" src="dist/image/logo_matse.png" alt="Mat.se"/>
        </div>
        <div class="col-xs-2">
            <div class="totalpris2">{{toFixed objects.totals.total_ica_shipping}} kr</div>
            <img class="img-responsive" src="dist/image/logo_ica.png" alt="Ica"/>
        </div>
        <div class="col-xs-2">
            <div class="totalpris2">{{toFixed objects.totals.total_pro}} kr</div>
            <img class="img-responsive" alt="PRO" src="dist/image/logo_pro.png">
        </div>
      </div>
         <hr class="bottom10">
      
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center toplegend">
            <p class="text-muted">För mer information om vad som ingår i prisjämförelsen, <a href="#innehall">klicka här</a>.</p>
            <p class="text-center"><div class="fb-share-button" data-href="http://www.matpriser.nu" data-layout="button"></div> <span class="dela"><a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="http://www.matpriser.nu" data-text="Kolla på sidan Matpriser.nu!" data-hashtags="matpriser.nu">Tweet</a></span>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
        </div>
      </div>
      <hr>
      <div class="row botten-40">
        <div class="col-sm-4">
            <h3>Nyhet - ny sajt jämför priset på mat!</h3>
            <p>Hösten 2015 lanserades den nya webbsajten matpriser.nu som jämför priset på mat och visar var det är billigast att beställa middagen på nätet. Matpriser.nu är banbrytande i det att den även redovisar priset på enskilda varor - allt ifrån frukt och grönt till mejeri, bageri och chark. Som ett första steg visar vi PROs årliga matkasse och hur mycket det skulle kosta att beställa den från de olika matbutikerna på nätet. <a href="/nyheter">Läs mer &gt;</a></p>
        </div>
        <div class="col-sm-4">
            <h3>Så görs jämförelsen</h3>
            <p>Vi jämför löpande priset på utvalda matvaror och ingredienser från stora butiker som coop, ica, mat.se och mathem.se så att du kan hitta det bästa priset när du beställer mat på nätet.</p>
            <p>Varje år sedan över tjugo år tillbaka redovisar PRO sin årliga stora prisundersökning, ingen annan prisundersökning har tillnärmelsevis samma omfattning. Förrän nu - matpriser.nu tar prisjämförelsen ett steg till, och jämför priset på mat mellan nätbutikerna. <a href="/jamforelsen">Läs mer &gt;</a></p>
        </div>
        <div class="col-sm-4">
            <h3>Om oss</h3>
            <p>Matpriser.nu jämför priset på mat från de stora aktörerna på marknaden. Dagligen uppdaterar vi vår statistik över vad olika matvaror kostar så att du kan hitta den billigaste maten på nätet. Ofta skiljer det mycket i pris mellan butikerna, trots att det är samma vara som du får hem till köket.</p>
            
            <p>Vi hoppas att vår tjänst kan bidra till att fler lagar god sund och varierad mat med varor som köpts till det bästa priset. <a href="/about">Läs mer &gt;</a></p>
        </div>
      </div>
</div>
<div class="call">
    
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Håll dig uppdaterad!</h2>
                        <p>Under de närmaste veckorna kommer vi successivt att utöka funktionerna som du som användare kan komma åt på sidan. <br>Skriv upp dig på vårt nyhetsbrev så håller vi dig uppdaterad.</p>
                        <form class="form-inline" method="POST" action="http://gansub.com/s/812Ih555aYnTBz/">
                           <div class="form-group">
                            <label for="email"></label>
                            <input type="text" id="email" name="email" class="form-control epost" placeholder="Skriv din epostadress här..."/>
                            
                            <input type="hidden" name="gan_repeat_email" />
                            </div>
                            <input type="submit" value="Skicka" class="button btn"/>
                        </form>
                        <h4>Kommande funktioner</h4>
                        <ul>
                        <li>Olika typer av matkassar (Eko, Barn, Hälsa)</li>
                        <li>Mer infromation om varorna, inklusive bilder</li>
                        <li>Söka och filtrera bland alla varor i onlinebutikerna</li>
                        <li>Skapa egna matkassar</li>
                        <li>...</li>
                        </ul>
                     
                        
                    </div>
                    </div>
                </div>
            </div>
        
</div>
<div class="container">
      <div class="row">
        <div class="col-sm-12">
            <div id="innehall" class="table-responsive">
            <table class="table table-striped table-hover">
            <thead>
            <tr class="storelogo">
                <th></th>
                <th class="storecoop" ><img class="" src="dist/image/logo_coop.png" alt="Coop"/></th>
                <th class="storemathem"><img class="" src="dist/image/logo_mathem.png" alt="Mathem"/></th>
                <th class="storematse"><img class="" src="dist/image/logo_matse.png" alt="Mat.se"/></th>
                <th class="storeica"><img class="" src="dist/image/logo_ica.png" alt="Ica"/></th>
                <th class="storepro"><img class="" src="dist/image/logo_pro.png" alt="PRO"/></th>
            </tr>
            </thead>
            <thead>
            <tr class="kasserad">
                <th class="legend"><div class="totaltext">Totalpris för matkasse <span>(frakt inkluderat)</span></div></th>
                <th><div class="totalpris2">{{toFixed objects.totals.total_coop_shipping}} kr</div></th>
                <th><div class="totalpris2">{{toFixed objects.totals.total_mathem_shipping}} kr</div></th>
                <th><div class="totalpris2">{{toFixed objects.totals.total_matse_shipping}} kr</div></th>
                <th><div class="totalpris2">{{toFixed objects.totals.total_ica_shipping}} kr</div></th>
                <th><div class="totalpris2">{{toFixed objects.totals.total_pro}} kr</div></th>
            </tr>
            </thead>
            <tbody>
            
            {{#each objects.products}}
            <tr>
            <td align="right" width="53">{{product_name}}</td>
            <td align="right" width="53">{{price_coop}}</td>
            <td align="right" width="53">{{price_mathem}}</td>
            <td align="right" width="53">{{price_matse}}</td>
            <td align="right" width="53">{{price_ica}}</td>
            <td align="right" width="53">{{price_pro}}</td>
            </tr>
            {{/each}}
             <tr class="totalt">

                <td>Totalt</td>
                <td align="right" width="53">{{objects.totals.total_coop}}</td>
                <td align="right" width="59">{{objects.totals.total_mathem}}</td>
                <td align="right" width="53">{{objects.totals.total_matse}}</td>
                <td align="right" width="53">{{objects.totals.total_ica}}</td>
                <td align="right" width="63">{{objects.totals.total_pro}}</td>
              </tr>
            
            <tr class="frakt">

                <td>Frakt</td>
                <td align="right">49,00</td>
                <td align="right">29,00 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Fraktpris beroende på tid (0-49kr)"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">0,00 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Fri frakt över 500kr"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">99,00</td>
                <td></td>
              </tr>
            
            <tr class="totalt">

                <td>Totalt inkl frakt</td>
               <td align="right">{{objects.totals.total_coop_shipping}}</td>
                <td align="right">{{objects.totals.total_mathem_shipping}}</td>
                <td align="right">{{objects.totals.total_matse_shipping}}</td>
                <td align="right">{{objects.totals.total_ica_shipping}}</td>
                <td align="right">{{objects.totals.total_pro}}</td>
              </tr>
            <!--<tr>

                <td><a class="" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="display:block; cursor:move;" title="Klicka för mer info">Husman knäckebröd <span class="caret"></span></a>
                    <div class="collapse varuinfo" id="collapseExample">
                        <div><img class="vara" src="prodimg/vara1.jpg" alt="Husman knäckebröd"/></div>
            </div>
                </td>
                <td align="right" width="53">8,20</td>
                <td align="right" width="59">9,95</td>
                <td align="right" width="53">10,95</td>
                <td align="right" width="53">9,90</td>
                <td align="right" width="63">10,76</td>
              </tr>
              
            
            <tr>

                <td>Original Oboy (450g)</td>
                <td align="right">26,90</td>
                <td align="right">29,95</td>
                <td align="right">26,95</td>
                <td align="right">25,90</td>
                <td align="right">39,89</td>
              </tr>
            
            <tr>

                <td>Mellanrost Bryggkaffe</td>
                <td align="right">35,00</td>
                <td align="right">39,95</td>
                <td align="right">36,95</td>
                <td align="right">37,90</td>
                <td align="right">35,63</td>
              </tr>
            
            <tr>

                <td>Ärter Med Fläsk</td>
                <td align="right">9,20</td>
                <td align="right">9,95</td>
                <td align="right">9,95</td>
                <td align="right">8,90</td>
                <td align="right">9,09</td>
              </tr>
            
            <tr>

                <td>Små Delikatessköttbullar</td>
                <td align="right">36,50</td>
                <td align="right">36,95</td>
                <td align="right">35,95</td>
                <td align="right">33,90</td>
                <td align="right">35,33</td>
              </tr>
            
            <tr>

                <td>Torskfilé (fryst) 400g</td>
                <td align="right">41,50</td>
                <td align="right">44,95</td>
                <td align="right">41,95 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Förpackningens storlek är 375g."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">41,90</td>
                <td align="right">34,41</td>
              </tr>
            
            <tr>

                <td>Banan Eko Mogen (1kg)</td>
                <td align="right">20,72 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Vikt 0.8kg."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">4,90 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Styckpris 5,90kr. Priset beräknat för 8 bananer."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">3,95 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Styckpris 3.95kr. Priset beräknat för 8 bananer."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">22,41 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Vikt 0,9kg."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">19,12</td>
              </tr>
            
            <tr>

                <td>Potatis Kok (ca 1kg)</td>
                <td align="right">19,90</td>
                <td align="right">21,95</td>
                <td align="right">32,95 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Vikt 3kg."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">44,90 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Vikt 2kg."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">8,79</td>
              </tr>
            
            <tr>

                <td>Big Pack Tresmak</td>
                <td align="right">22,50</td>
                <td align="right">21,95</td>
                <td align="right">21,95</td>
                <td align="right">20,90</td>
                <td align="right">21,41</td>
              </tr>
            
            <tr>

                <td>Grillchips (300g)</td>
                <td align="right">19,50</td>
                <td align="right">16,95<div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Vikt 200g."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">22,50</td>
                <td align="right">20,90</td>
                <td align="right">21,59</td>
              </tr>
            
            <tr>

                <td>Falukorv Ring</td>
                <td align="right">28,00</td>
                <td align="right">32,95</td>
                <td align="right">32,95</td>
                <td align="right">29,90</td>
                <td align="right">31,32</td>
              </tr>
            
            <tr>

                <td>Kotlett Med Ben I Skivor, 4 Skivor</td>
                <td align="right">53,40 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="2 förpackningar benfri kotlett, totalt 600g."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">35,00 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="2 förpackningar benfri kotlett, totalt 600g."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">79,77 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Vikt 0,7kg."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">43,15<div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Vikt 480g."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">85,99</td>
              </tr>
            
            <tr>

                <td>Hel kyckling (fryst) 1,3kg</td>
                <td align="right">43,20</td>
                <td align="right">58,50</td>
                <td align="right">32,95<div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Vikt 1kg."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">54,86</td>
                <td align="right">32,12</td>
              </tr>
            
            <tr>

                <td>Hushållsmedwurst skivad 200g</td>
                <td align="right">22,50</td>
                <td align="right">24,95</td>
                <td align="right">24,95</td>
                <td align="right">25,90</td>
                <td align="right">24,40</td>
              </tr>
            
            <tr>

                <td>Bredbar Leverpastej</td>
                <td align="right">14,00</td>
                <td align="right">13,95</td>
                <td align="right">13,95</td>
                <td align="right">14,90</td>
                <td align="right">13,40</td>
              </tr>
            
            <tr>

                <td>Nötfärs 10-12% 1kg</td>
                <td align="right">57,50</td>
                <td align="right">90,00</td>
                <td align="right">84,95 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Vikt 850g."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">47,92 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Vikt 800g."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">81,80</td>
              </tr>
            
            <tr>

                <td>Ägg Frigående 6 M/l</td>
                <td align="right">15,00</td>
                <td align="right">14,95</td>
                <td align="right">14,95</td>
                <td align="right">14,90</td>
                <td align="right">13,96</td>
              </tr>
            
            <tr>

                <td>Arla Ko® Filmjölk 3%</td>
                <td align="right">10,60</td>
                <td align="right">13,95</td>
                <td align="right">11,95</td>
                <td align="right">6,90</td>
                <td align="right">11,41</td>
              </tr>
            
            <tr>

                <td>Herrgård Mild 28% (ca 650g)</td>
                <td align="right">51,93</td>
                <td align="right">64,90</td>
                <td align="right">60,00</td>
                <td align="right">61,30</td>
                <td align="right">84,85</td>
              </tr>
            
            <tr>

                <td>Normalsaltat smör 75% (500g)</td>
                <td align="right">29,90</td>
                <td align="right">32,95</td>
                <td align="right">32,95</td>
                <td align="right">31,90</td>
                <td align="right">31,21</td>
              </tr>
            
            <tr>

                <td>Standardmjölk (1l)</td>
                <td align="right">9,10</td>
                <td align="right">10,95</td>
                <td align="right">9,95</td>
                <td align="right">12,90</td>
                <td align="right">9,89</td>
              </tr>
            
            <tr>

                <td>Vispgrädde 40%</td>
                <td align="right">12,30</td>
                <td align="right">12,95</td>
                <td align="right">11,95</td>
                <td align="right">11,90</td>
                <td align="right">11,91</td>
              </tr>
            
            <tr>

                <td>Finkorningt Hushållssalt Med Jod</td>
                <td align="right">9,90</td>
                <td align="right">9,95</td>
                <td align="right">10,95</td>
                <td align="right">10,90</td>
                <td align="right">9,97</td>
              </tr>
            
            <tr>

                <td>Havregryn</td>
                <td align="right">13,50</td>
                <td align="right">14,95</td>
                <td align="right">14,95</td>
                <td align="right">14,90</td>
                <td align="right">10,53</td>
              </tr>
            
            <tr>

                <td>Nyponsoppa Original (1l)</td>
                <td align="right">8,70</td>
                <td align="right">10,95</td>
                <td align="right">9,95</td>
                <td align="right">9,90</td>
                <td align="right">10,95</td>
              </tr>
            
            <tr>

                <td>Rödbetor Skivade (ca710g)</td>
                <td align="right">15,50</td>
                <td align="right">19,95</td>
                <td align="right">21,95</td>
                <td align="right">19,90</td>
                <td align="right">17,38</td>
              </tr>
            
            <tr>

                <td>Original Senap Plastflaska (490g)</td>
                <td align="right">14,00</td>
                <td align="right">14,95</td>
                <td align="right">14,95</td>
                <td align="right">14,90</td>
                <td align="right">14,66</td>
              </tr>
            
            <tr>

                <td>Smörgåsgurka (ca 715g)</td>
                <td align="right">18,00</td>
                <td align="right">17,95 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Vikt 370g."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">19,95</td>
                <td align="right">19,90</td>
                <td align="right">18,07</td>
              </tr>
            
            <tr>

                <td>Snabbitsocker (500g)</td>
                <td align="right">9,80</td>
                <td align="right">12,95</td>
                <td align="right">12,95</td>
                <td align="right">9,90</td>
                <td align="right">11,98</td>
              </tr>
            
            <tr>

                <td>Spaghetti (1kg)</td>
                <td align="right">13,50</td>
                <td align="right">13,95</td>
                <td align="right">13,95</td>
                <td align="right">14,90</td>
                <td align="right">12,79</td>
              </tr>
            
            <tr>

                <td>Strösocker (1kg)</td>
                <td align="right">17,50</td>
                <td align="right">15,95</td>
                <td align="right">14,95</td>
                <td align="right">13,90</td>
                <td align="right">21,55</td>
              </tr>
            
            <tr>

                <td>Tomatketchup (500g)</td>
                <td align="right">21,00 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Vikt 1kg."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">17,95</td>
                <td align="right">22,95</td>
                <td align="right">19,90</td>
                <td align="right">17,72</td>
              </tr>
            
            <tr>

                <td>Vetemjöl (2kg)</td>
                <td align="right">12,90</td>
                <td align="right">17,95</td>
                <td align="right">15,95</td>
                <td align="right">12,90</td>
                <td align="right">13,94</td>
              </tr>
            
            <tr class="totalt">

                <td>Totalt</td>
                <td align="right" width="53">741,65</td>
                <td align="right" width="59">811,90</td>
                <td align="right" width="53">828,77</td>
                <td align="right" width="53">785,84</td>
                <td align="right" width="63">827,81</td>
              </tr>
            
            <tr class="frakt">

                <td>Frakt</td>
                <td align="right">49,00</td>
                <td align="right">29,00 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Fraktpris beroende på tid (0-49kr)"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">0,00 <div class="comment"><a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="hover" data-content="Fri frakt över 500kr"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></div></td>
                <td align="right">99,00</td>
                <td></td>
              </tr>
            
            <tr class="totalt">

                <td>Totalt inkl frakt</td>
                <td align="right">790,65</td>
                <td align="right">840,90</td>
                <td align="right">828,77</td>
                <td align="right">884,84</td>
                <td align="right">827,81</td>
              </tr>
            -->
            </tr>
            </tbody>
        </table>
        </div>
        </div>
      </div>