<h4>{{objects.batch}} - {{objects.timestamp}}</h4>
<table class="table table-bordered table-condensed table-hover">
<thead>
    <th>Nummer</th>
    <th>Namn</th>
    <th>Coop</th>
    <th>Mathem</th>
    <th>Matse</th>
    <th>Ica</th>
    <th>Pro</th>
</thead>
{{#each objects.products}}
    <tr>
    <td>{{number}}</td>
    <td>{{product_name}}</td>
    <td>{{price_coop}}</td>
    <td>{{price_mathem}}</td>
    <td>{{price_matse}}</td>
    <td>{{price_ica}}</td>
    <td>{{price_pro}}</td>   
    </tr>
    {{/each}}
       <tr>
        <td></td>
        <td>Totalt</td>
        <td>{{objects.totals.totalCoop}}</td>
        <td>{{objects.totals.totalMathem}}</td>
        <td>{{objects.totals.totalMatse}}</td>
        <td>{{objects.totals.totalIca}}</td>
        <td>{{objects.totals.totalPro}}</td>
    </tr>
    <tr>
        <td></td>
        <td>Frakt</td>
        <td>{{objects.shipping.coop}}</td>
        <td>{{objects.shipping.mathem}}</td>
        <td>{{objects.shipping.matse}}</td>
        <td>{{objects.shipping.ica}}</td>
        <td>{{objects.shipping.pro}}</td>
    </tr>
     <tr>
        <td></td>
        <td>Totalt inkl frakt</td>
        <td>{{objects.totals.totalCoopShipping}}</td>
        <td>{{objects.totals.totalMathemShipping}}</td>
        <td>{{objects.totals.totalMatseShipping}}</td>
        <td>{{objects.totals.totalIcaShipping}}</td>
        <td>{{objects.totals.totalProShipping}}</td>
    </tr>
    
</table>


